#red{
	background-color: red;
	display: inline-block;
	height: 50px;
	margin: -2px;
	width: 50px;
	vertical-align: top;
}

#black{
	background-color: black;
	display: inline-block;
	height: 50px;  
	margin: -2px;
	width: 50px;
	vertical-align: top;
}
